p {
  margin: 0;
}

.p {
  margin: 16px 0;
}

blockquote {
  margin: 0;
  padding-left: 40px;
}

.blockquote {
  margin: 40px 0;
}

h2 {
  margin: 0;
}

.h2 {
  margin: 20px 0;
}

.comment {
  margin-bottom: 8px;
}

.avatar {
  margin-right: 8px;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background-color: #ccc;
}

.flex {
  display: flex;
}

.flex > * {
  flex-shrink: 0;
}

.username {
  height: 24px;
  font-weight: 700;
  margin-right: 8px;
  line-height: 24px;
}

.comment-text {
  word-break: break-all;
  flex-shrink: 1;
}
